.cabecalho{
    width:345px;
height: 68px;
    background-color:#CDB79E;
}

.primeira_secao{
    width:345px;
    height: 23px;
    background-color:#f0d1d1;
    display: flex;
    flex-direction: row;
}

.imagem{
    width:54px;
    height:96px;
    background-color:#EED5B7;
}

.segunda_secao{
    width:345px;
    height: 23px;
    background-color:#f0d1d1;
    display: flex;
    flex-direction: row;
}

.rodape{
    width:345px;
    height: 68px;
    background-color:#CDB79E;
    display: flex;
    flex-direction: row;
}