.cabecalho{
width:345px;
height: 68px;
background-color:#CDB79E;
}

.primeira_secao{
    width:345px;
    height: 142px;
    background-color:#f0d1d1;
    }

    .moldura{
        width:54px;
        height: 96px;
        background-color:#EED5B7;
        }